Dex should not be installed under a sub-path

Dex, like any other OIDC provider, exposes an `well-known` URI: `/.well-known/openid-configuration`

The well-known URI is specified to be set at the root of the domain: https://en.wikipedia.org/wiki/Well-known_URI

Quoting:
> The path well-known URI begins with the characters

I am not 100% sure, but my guess is that an OIDC provider therefore should be installed under the root path of a domain.

Interesting finding, thanks

We *might* just serve `/.well-known/openid-configuration` through Nginx + proxy_pass:
```nginx
location /.well-known/openid-configuration {
  proxy_pass        http://127.0.0.1:__PORT__/.well-known/openid-configuration;
  proxy_redirect    off;
  proxy_set_header  Host $host;
  proxy_set_header  X-Real-IP $remote_addr;
  proxy_set_header  X-Forwarded-Proto $scheme;
  proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header  X-Forwarded-Host $server_name;
}
```

Quoting the [RFC 8615 Section 3](https://www.rfc-editor.org/rfc/rfc8615#section-3):

> Well-known URIs are rooted in the top of the path's hierarchy; they
   are not well-known by definition in other parts of the path.  For
   example, "/.well-known/example" is a well-known URI, whereas
   "/foo/.well-known/example" is not.